
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>My Profile</title>

        <script src="/vendor/jquery/dist/jquery.min.js"></script>
        <script src="/vendor/underscore/underscore-min.js"></script>
        <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
        <script src="/static/javascript/app.js"></script>

    </head>
    <body>

	    <div class='container'>

			<nav class="navbar navbar-default">
			  <div class="container-fluid">
			    <!-- Brand and toggle get grouped for better mobile display -->
			    <!-- Collect the nav links, forms, and other content for toggling -->
				   <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				      <ul class="nav navbar-nav">
				        <li>Welcome, <p id='welcomeUser'>TEST</p></li>
				      </ul>
				      <ul class="nav navbar-nav navbar-right">
				        <li class="dropdown">
				          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Options<span class="caret"></span></a>
				          <ul class="dropdown-menu">
				            <li><a href="/newscore">Submit New Score</a></li>
				            <li role="separator" class="divider"></li>
				            <li><a href="#">Logout</a></li>
				          </ul>
				        </li>
				      </ul>
				    </div><!-- /.navbar-collapse -->
				  </div><!-- /.container-fluid -->
			</nav>



					<div class="container">
				    <!--Row with three equal columns-->
					    <div class="row">
					        <div class="col-md-4">
					        	<table>
								<thead>
									<tr>
									    <td></td>
									    <td>Front 9</td>
									</tr>
								</thead>
								<tbody>
									<tr>
									    <td>1</td>
									    <td><input type="text" class="form-control" placeholder="Enter your score for the 1st hole" aria-describedby="sizing-addon2"></td>
									</tr>
									<tr>
									    <td>2</td>
									    <td><input type="text" class="form-control" placeholder="Enter your score for the 2nd hole" aria-describedby="sizing-addon2"></td>
									</tr>
									<tr>
									    <td>3</td>
									    <td><input type="text" class="form-control" placeholder="Enter your score for the 3rd hole" aria-describedby="sizing-addon2"></td>
									</tr>
									<tr>
									    <td>4</td>
									    <td><input type="text" class="form-control" placeholder="Enter your score for the 4th hole" aria-describedby="sizing-addon2"></td>
									</tr>
									<tr>
									    <td>5</td>
									    <td><input type="text" class="form-control" placeholder="Enter your score for the 5th hole" aria-describedby="sizing-addon2"></td>
									</tr>
									<tr>
									    <td>6</td>
									    <td><input type="text" class="form-control" placeholder="Enter your score for the 6th hole" aria-describedby="sizing-addon2"></td>
									</tr>
									<tr>
									    <td>7</td>
									    <td><input type="text" class="form-control" placeholder="Enter your score for the 7th hole" aria-describedby="sizing-addon2"></td>
									</tr>
									<tr>
									    <td>8</td>
									    <td><input type="text" class="form-control" placeholder="Enter your score for the 8th hole" aria-describedby="sizing-addon2"></td>
									</tr>
									<tr>
									    <td>9</td>
									    <td><input type="text" class="form-control" placeholder="Enter your score for the 9th hole" aria-describedby="sizing-addon2"></td>
									</tr>
								</tbody>
								</table> 
					        </div>
				        <div class="col-md-4">
				        	<table>
							<thead>
								<tr>
								    <td></td>
								    <td>Back 9</td>
								</tr>
							</thead>
							<tbody>
								<tr>
								    <td>10</td>
								    <td><input type="text" class="form-control" placeholder="Enter your score for the 10th hole" aria-describedby="sizing-addon2"></td>
								</tr>
								<tr>
								    <td>11</td>
								    <td><input type="text" class="form-control" placeholder="Enter your score for the 11th hole" aria-describedby="sizing-addon2"></td>
								</tr>
								<tr>
								    <td>12</td>
								    <td><input type="text" class="form-control" placeholder="Enter your score for the 12th hole" aria-describedby="sizing-addon2"></td>
								</tr>
								<tr>
								    <td>13</td>
								    <td><input type="text" class="form-control" placeholder="Enter your score for the 13th hole" aria-describedby="sizing-addon2"></td>
								</tr>
								<tr>
								    <td>14</td>
								    <td><input type="text" class="form-control" placeholder="Enter your score for the 14th hole" aria-describedby="sizing-addon2"></td>
								</tr>
								<tr>
								    <td>15</td>
								    <td><input type="text" class="form-control" placeholder="Enter your score for the 15th hole" aria-describedby="sizing-addon2"></td>
								</tr>
								<tr>
								    <td>16</td>
								    <td><input type="text" class="form-control" placeholder="Enter your score for the 16th hole" aria-describedby="sizing-addon2"></td>
								</tr>
								<tr>
								    <td>17</td>
								    <td><input type="text" class="form-control" placeholder="Enter your score for the 17th hole" aria-describedby="sizing-addon2"></td>
								</tr>
								<tr>
								    <td>18</td>
								    <td><input type="text" class="form-control" placeholder="Enter your score for the 18th hole" aria-describedby="sizing-addon2"></td>
								</tr>
							</tbody>
							</table>
				        </div>
				    </div>
		</div>
    </body>
</html>
