
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>My Profile</title>

        <script src="/vendor/jquery/dist/jquery.min.js"></script>
        <script src="/vendor/underscore/underscore-min.js"></script>
        <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
        <script src="/static/javascript/newscore.js"></script>

    </head>
    <body>

	    <div class='container'>

			<nav class="navbar navbar-default">
			  <div class="container-fluid">
			    <!-- Brand and toggle get grouped for better mobile display -->
			    <!-- Collect the nav links, forms, and other content for toggling -->
				   <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				      <ul class="nav navbar-nav">
				        <li>Welcome, <p id='welcomeUser'>TEST</p></li>
				      </ul>
				      <ul class="nav navbar-nav navbar-right">
				        <li class="dropdown">
				          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Options<span class="caret"></span></a>
				          <ul class="dropdown-menu">
				            <li><a href="/newscore">Submit New Score</a></li>
				            <li role="separator" class="divider"></li>
				            <li><a href="/logout">Logout</a></li>
				          </ul>
				        </li>
				      </ul>
				    </div><!-- /.navbar-collapse -->
				  </div><!-- /.container-fluid -->
			</nav>

				<div class="container">
				    <!--Row with three equal columns-->
				    <form method='post' action='/newscore' id="new-score">
					    <div class="row">
					        <div class="col-md-4">
					        	<br>
								<input type="text" name='course' class="form-control" placeholder="Name of Golf Course" aria-describedby="sizing-addon2">
								<br>
								<input placeholder="Date of Round" class="textbox-n" type="" onfocus="(this.type='date')" onblur="(this.type='text')" id="date" name='date'>

					        	<table>
								<thead>
									<tr>
									    <td>Scorecard</td>
									</tr>
								</thead>
								<tbody>
									<tr>	
									    <td><input type="number" name='score[hole1]' class="form-control" placeholder="Score for the 1st hole" aria-describedby="sizing-addon2"></td>
									</tr>
									<tr>
									    <td><input type="number" name='score[hole2]' class="form-control" placeholder="Score for the 2nd hole" aria-describedby="sizing-addon2"></td>
									</tr>
									<tr>
									    <td><input type="number" name='score[hole3]' class="form-control" placeholder="Score for the 3rd hole" aria-describedby="sizing-addon2"></td>
									</tr>
									<tr>
									    <td><input type="number" name='score[hole4]' class="form-control" placeholder="Score for the 4th hole" aria-describedby="sizing-addon2"></td>
									</tr>
									<tr>
									    <td><input type="number" name='score[hole5]' class="form-control" placeholder="Score for the 5th hole" aria-describedby="sizing-addon2"></td>
									</tr>
									<tr>
									    <td><input type="number" name='score[hole6]' class="form-control" placeholder="Score for the 6th hole" aria-describedby="sizing-addon2"></td>
									</tr>
									<tr>
									    <td><input type="number" name='score[hole7]' class="form-control" placeholder="Score for the 7th hole" aria-describedby="sizing-addon2"></td>
									</tr>
									<tr>
									    <td><input type="number" name='score[hole8]' class="form-control" placeholder="Score for the 8th hole" aria-describedby="sizing-addon2"></td>
									</tr>
									<tr>
									    <td><input type="number" name='score[hole9]' class="form-control" placeholder="Score for the 9th hole" aria-describedby="sizing-addon2"></td>
									</tr>
									<tr>	
									    <td><input type="number" name='score[hole10]' class="form-control" placeholder="Score for the 10th hole" aria-describedby="sizing-addon2"></td>
									</tr>
									<tr>
									    <td><input type="number" name='score[hole11]' class="form-control" placeholder="Score for the 11th hole" aria-describedby="sizing-addon2"></td>
									</tr>
									<tr>
									    <td><input type="number" name='score[hole12]' class="form-control" placeholder="Score for the 12th hole" aria-describedby="sizing-addon2"></td>
									</tr>
									<tr>
									    <td><input type="number" name='score[hole13]' class="form-control" placeholder="Score for the 13th hole" aria-describedby="sizing-addon2"></td>
									</tr>
									<tr>
									    <td><input type="number" name='score[hole14]' class="form-control" placeholder="Score for the 14th hole" aria-describedby="sizing-addon2"></td>
									</tr>
									<tr>
									    <td><input type="number" name='score[hole15]' class="form-control" placeholder="Score for the 15th hole" aria-describedby="sizing-addon2"></td>
									</tr>
									<tr>
									    <td><input type="number" name='score[hole16]' class="form-control" placeholder="Score for the 16th hole" aria-describedby="sizing-addon2"></td>
									</tr>
									<tr>
									    <td><input type="number" name='score[hole17]' class="form-control" placeholder="Score for the 17th hole" aria-describedby="sizing-addon2"></td>
									</tr>
									<tr>
									    <td><input type="number" name='score[hole18]' class="form-control" placeholder="Score for the 18th hole" aria-describedby="sizing-addon2"></td>
									</tr>
								</tbody>
								</table> 
								<br>
								<button class="btn btn-default">Submit Score</button>
					        </div>
				        </div>
				    </form>
				</div>
		</div>
    </body>
</html>
