

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>My Profile</title>

        <script src="/vendor/jquery/dist/jquery.min.js"></script>
        <script src="/vendor/underscore/underscore-min.js"></script>
        <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
        <script src="/static/javascript/app.js"></script>

    </head>
    <body>

    	<div class='container'>
			<div class="panel panel-default">
			  <!-- Default panel contents -->
			  <div class="panel-heading">Most Recent Rounds</div>
			  <!-- Table -->
			  <table class="table">
				  <thead>
				    <tr>
			    		<th>Date</th>
			    		<th>Course</th>
			    		<th>Front 9</th>
			    		<th>Back 9</th>
			    		<th>Total</th>
			    	</tr>
			      </thead>
		      <tbody>
		    	<!-- Scores template placeholder -->
		    	<div id='scores-placeholder'></div>
		      </tbody>
		      </table>
			</div>
		</div>

    </body>
</html>


<!-- courses template -->
  <script type="text/template" id="scores-template">
 		<tr>
      		<td> <%= date %> </td>
     		<td> <%= course.name %> </td>
  			<td> <%= game.score[0].hole1 %> </td>
  			<td> <%= game.score[1].hole2 %> </td>
  			<td> <%= game.score[2].hole3 %> </td>
 		</tr>
  </script>





