

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>My Profile</title>

        <script src="/vendor/jquery/dist/jquery.min.js"></script>
        <script src="/vendor/underscore/underscore-min.js"></script>
        <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
        <script src="/static/javascript/app.js"></script>

    </head>
    <body>

	    <div class='container'>

			<nav class="navbar navbar-default">
			  <div class="container-fluid">
			    <!-- Brand and toggle get grouped for better mobile display -->
			    <!-- Collect the nav links, forms, and other content for toggling -->
				   <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				      <ul class="nav navbar-nav">
				        <li>Welcome, <p id='welcomeUser'>FIRSTNAME</p></li>
				      </ul>
				      <ul class="nav navbar-nav navbar-right">
				        <li class="dropdown">
				          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Options<span class="caret"></span></a>
				          <ul class="dropdown-menu">
				            <li><a href="/newscore">Submit New Score</a></li>
				            <li role="separator" class="divider"></li>
				            <li><a href="#">Logout</a></li>
				          </ul>
				        </li>
				      </ul>
				    </div><!-- /.navbar-collapse -->
				  </div><!-- /.container-fluid -->
			</nav>


				<!-- Recent ScoresTable -->
				<div class="panel panel-default">
					<div class="panel-heading">Your Most Recent Scores</div>
						<table class="table" >
							<thead>
								<tr>
								    <td>Date</td>
								    <td>Course</td>
								    <td>Front 9</td>
								    <td>Back 9</td>
								    <td>Total</td>
								</tr>
							</thead>
							<tbody id='scores-placeholder'></tbody>
						</table>
				</div>

		</div>
    </body>
</html>


<!-- Recent Scores Template -->
  <script type="text/template" id="scores-template">
 			<tr>
      			<td> <%= date %> </td>
     			<td> <%= course.name %> </td>
  				<td> <%= score[0].hole1 %> </td>
  				<td> <%= score[1].hole2 %> </td>
  				<td> <%= score[2].hole3 %> </td>
 			</tr>
  </script>



