/*
	it: avoid creating stylesheets named after the page being styled,
	i.e. `login.css`. Rather create style sheets around the assets
	being styled, i.e. `forms.css` & `buttons.css`
*/

body {
	background-image: url('http://images.fasocdn.com/3015/814595xl.jpg?v=201507191515&cv=201507191515');
	background-size: cover;
}

#loginBox {
	background-color: rgba(255, 255, 255, 0.6);
	padding: 2%;
	position: relative;
	top: 25%;
	margin: 150px 0px 0px 0px;
	border-radius: 2%;
}

#loginBox input {
	text-align: center;
}

.btn {
	background-color: rgba(212, 174, 37, 0.9);
}

#signUp {
	text-align: center;
	color: rgb(240, 93, 14);
}