
#signUpBox {
	background-color: rgba(255, 255, 255, 0.6);
	padding: 2%;
	position: relative;
	top: 25%;
	margin: 150px 0px 0px 0px;
	border-radius: 2%;
}

#signUpBox input {
	text-align: center;
}


.btn {
	background-color: rgba(6, 64, 146, 0.6);
	font: white;
}